@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* LIGHT MODE */
    --color-light-surface: #f8fafc;
    --color-white-shade: #f6f6f6;
    --color-light-text-primary: #0f172a;
    --color-light-text-secondary: #475569;
    --color-pri-col: #2563eb;
    --color-pri-hover: #1d4ed8;
    --color-accent-col: #60a5fa;
    --color-light-border: #e2e8f0;
    --color-light-tint: #eff6ff;

    /* DARK MODE */
    --color-dark-bg: #0f172a;
    --color-dark-surface: #1e293b;
    --color-dark-text-primary: #f8fafc;
    --color-dark-text-secondary: #cbd5e1;
    --color-dark-accent: #3b82f6;
    --color-dark-border: #334155;

    /* SUPPORT COLORS */
    --color-success: #22c55e;
    --color-warning: #facc15;
    --color-danger: #ef4444;
    --color-neutral: #94a3b8;

}

.container{
    @apply w-[95%] mx-auto lg:w-[92%] 2xl:w-[60%]
}

body{
    @apply bg-white-shade text-light-text-primary
}

.dark body {
    @apply bg-dark-bg text-white-shade
}

.sign-in-form-label,
.sign-up-form-label{
    @apply text-xs sm:text-sm font-medium dark:text-white-shade/70
}

.sign-in-form-input,
.sign-up-form-input{
    @apply w-full h-10 rounded border border-black/20 outline-0 text-xs sm:text-sm px-3 focus:outline-1 outline-pri-col dark:border-white-shade/15 dark:text-white-shade/70
}

.batchFormInput{
    @apply w-full h-10 rounded border border-black/20 outline-0 text-xs sm:text-sm px-3 pr-10 focus:outline-1 outline-pri-col dark:border-white-shade/15 dark:text-white-shade/70
}

.forgot-password{
     @apply text-sm font-medium text-pri-col dark:text-dark-accent
}

.dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /* opacity: 0; 
    position: absolute;
    right: 0; */
}

.form-select {
    @apply w-full h-10 rounded border border-black/20 dark:border-white-shade/10 outline-0 text-xs sm:text-sm px-3 focus:outline-1 dark:bg-dark-surface dark:text-white-shade/80
}